<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

    <%= simple_form_for(@party, html: {class: 'form-horizontal' }, url:  users_path) do |f| %>
       <%= render 'shared/error_messages' %>
        	<%= f.input :name , label: 'Name' %>
		    <%= f.input :email %>
			<%= f.input :password %>
  		    <%= f.input :password_confirmation, label: 'Confirmation' %>

  			<%= f.button :submit, 'Create my account' %>

    <% end %>        




